/****** BACKGROUND ******/

body {
	background: linear-gradient(270deg, #07c0ff, #e50d78, #feff10);
	background-size: 400% 400%;
	-webkit-animation: BackgroundAnimation 50s ease infinite;
	-moz-animation: BackgroundAnimation 50s ease infinite;
	animation: BackgroundAnimation 50s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/****** LOGO ******/
#logo {
	text-align: center;
	font-size: 3em;
	background-color: white;
	color: black;
	margin-top: 50px;
	margin-bottom: 20px;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

}

/****** Links ******/
.ghost {
	color: black;
	background: white;
	display: inline-block;
	width: 150px;
	font-size: 1.5em;
	text-align: center;
	padding: 8px;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease-out, background-color 0.3 ease-out
}

.ghost:hover, .ghost:focus {
	background-color: black;
	color: white;
	transition: color 0.3s ease-in, background-color 0.3 ease-in
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/****** INFO ******/

.info {
	background-color: black;
	margin-top: 80px;
	margin-bottom: 80px;
	padding: 30px;
	color: white;
	text-align: center;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.location {
	color: red;
}

/****** TYPING ******/

#typing {
	color: black;
	font-weight: 100;
	font-size: 18pt;
	margin-left: 50px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 23px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

/****** MODAL ******/
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-body {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}