/****** BACKGROUND ******/

body {
	background: linear-gradient(270deg, #07c0ff, #e50d78, #feff10);
	background-size: 400% 400%;
	-webkit-animation: BackgroundAnimation 50s ease infinite;
	-moz-animation: BackgroundAnimation 50s ease infinite;
	animation: BackgroundAnimation 50s ease infinite;
}

@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/****** LOGO ******/
#logo {
	text-align: center;
	font-size: 3em;
	background-color: white;
	color: black;
	margin-top: 50px;
	margin-bottom: 20px;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

}

/****** Links ******/
a.ghost {
	color: black;
	background: white;
	display: inline-block;
	width: 150px;
	font-size: 1.5em;
	text-align: center;
	padding: 8px;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease-out, background-color 0.3 ease-out
}

a.ghost:hover, a.ghost:focus {
	background-color: black;
	color: white;
	transition: color 0.3s ease-in, background-color 0.3 ease-in
}

/****** Links ******/

.info {
	background-color: black;
	margin-top: 80px;
	padding: 30px;
	color: white;
	text-align: center;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.location {
	color: red;
}